<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <img src="img/anandCo.png" />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="#contact">Contact</a>
  </div>
</header>

<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          data-aos="fade-up"
        >
          <h1>Elegant & Creative Solutions for</h1>
          <p>
            Architectural hardware, Modular kitchen, Wardrobe sliding systm,
            Doors fittings.
          </p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a
              href="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fwww.anandnco.in%2Fvideos%2F2055198014716179%2F&show_text=false&width=261&t=0"
              class="glightbox btn-watch-video d-flex align-items-center"
              ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
            >
          </div>
        </div>
        <div
          class="col-lg-6 order-1 order-lg-2 hero-img"
          data-aos="zoom-out"
          data-aos-delay="100"
        >
          <img src="img/hero-img.png" class="img-fluid animated" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-house-heart icon"></i></div>
            <h4><a href="" class="stretched-link">RESIDENTIAL SOLUTIONS</a></h4>
            <p>
              Discover innovative kitchen solutions that make cooking and
              organizing a breeze. Efficiency meets elegance.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-building icon"></i>
            </div>
            <h4><a href="" class="stretched-link">COMMERCIAL SOLUTIONS</a></h4>
            <p>
              Explore a world of innovation and design with our premium
              architectural hardware solutions
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-buildings icon"></i></div>
            <h4><a href="" class="stretched-link">INDSUTRIAL SOLUTIONS</a></h4>
            <p>
              Explore a world of innovation and design with our premium
              architectural hardware solutions
            </p>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Featured Services Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>About Us<br /></span>
      <h2>About</h2>
      <p>
        With a focus on quality craftsmanship and contemporary design, we cater
        to homeowners, architects, interior designers, and builders seeking
        reliable and stylish solutions. Our wide range of products ensures every
        space is functional, elegant, and built to la
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-6 position-relative align-self-start"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img src="img/about.png" class="img-fluid" alt="" />
          <a
            href="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fwww.anandnco.in%2Fvideos%2F2055198014716179%2F&show_text=false&width=261&t=0"
            class="glightbox pulsating-play-btn"
          ></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>
            Supplying precision-engineered fittings that combine strength,
            design, and ease of installation.
          </h3>
          <p class="fst-italic">
            We are a trusted name in premium interior and architectural
            solutions, offering innovative and durable hardware products to
            enhance both functionality and aesthetics.
          </p>
          <ul>
            <li>
              <i class="bi bi-check2-all"></i>
              <span
                >Providing high-quality hinges, handles, locks, and fittings
                designed for lasting performance and style.</span
              >
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span
                >Designing modern, space-efficient kitchens with world-class
                hardware and accessories for a seamless experience.</span
              >
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span
                >Offering smooth, silent, and space-saving sliding solutions for
                wardrobes and storage units.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Clients</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="521"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Projects</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="1453"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="32"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Workers</p>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- /Stats Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Services</span>
      <h2>Services</h2>
      <p>
        We offer a wide selection of high-quality hardware designed for
        durability, functionality, and style. Perfect for residential,
        commercial, and custom projects.
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-door-closed"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Door Hardware</h3>
            </a>
            <p>
              Durable and stylish components for smooth, secure, and reliable
              door operation.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-motherboard"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Kitchen Hardware</h3>
            </a>
            <p>
              Functional fittings and accessories to enhance kitchen
              organization and efficiency.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-shop-window"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Glass Hardware</h3>
            </a>
            <p>
              Specialized fittings for safe, sleek, and modern glass
              installations.
            </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-door-open"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Wardrobe Hardware</h3>
            </a>
            <p>
              Space-saving and stylish solutions for wardrobe doors, drawers,
              and storage.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bookshelf"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Furniture Hardware</h3>
            </a>
            <p>
              Quality parts and accessories that add function and finish to
              furniture pieces.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-puzzle"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Architectural hardware</h3>
            </a>
            <p>
              Premium fixtures designed to complement and enhance architectural
              designs.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Portfolio</span>
      <h2>Portfolio</h2>
      <p>
        A selection of portfolios showcasing Architectural Hardware, Modular
        Kitchens, Wardrobe Sliding Systems, and Door Fittings.
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div
        class="isotope-layout"
        data-default-filter="*"
        data-layout="masonry"
        data-sort="original-order"
      >
        <ul
          class="portfolio-filters isotope-filters"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".door-fittings">Door Fittings</li>
          <li data-filter=".wardrobe-fittings">Wardrobe Fittings</li>
          <li data-filter=".kitchen-fittings">Kitchen Fittings</li>
          <li data-filter=".sliding-system">Sliding System</li>
          <li data-filter=".furniture-fittings">Furniture Fittings</li>
        </ul>
        <!-- End Portfolio Filters -->

        <div
          class="row gy-4 isotope-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item door-fittings"
          >
            <img src="img/portfolio/door-1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Door Fittings</h4>
              <p>Door Fittings</p>
              <a
                href="img/portfolio/door-1.jpg"
                title="App 1"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item wardrobe-fittings"
          >
            <img src="img/portfolio/wardrob-1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Wardrobe Fittings</h4>
              <p>Wardrob Fittings</p>
              <a
                href="img/portfolio/wardrob-1.jpg"
                title="Wardrob Fittings"
                data-gallery="portfolio-gallery-product"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item kitchen-fittings"
          >
            <img src="img/portfolio/kitchen-1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Kitchen Fittings</h4>
              <p>Kitchen Fittings</p>
              <a
                href="img/portfolio/kitchen-1.jpg"
                title="Kitchen Fittings"
                data-gallery="portfolio-gallery-branding"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item sliding-system"
          >
            <img src="img/portfolio/sliding-1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Sliding Systems</h4>
              <p>Sliding Systems</p>
              <a
                href="img/portfolio/sliding-1.jpg"
                title="Sliding Systems"
                data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item door-fittings"
          >
            <img src="img/portfolio/door-2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Door Fittings</h4>
              <p>Door Fittings</p>
              <a
                href="img/portfolio/door-2.jpg"
                title="App 2"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item wardrobe-fittings"
          >
            <img src="img/portfolio/wardrob-2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Wardrob Fittings</h4>
              <p>Wardrob Fittings</p>
              <a
                href="img/portfolio/wardrob-2.jpg"
                title="Wardrob Fittings"
                data-gallery="portfolio-gallery-product"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item kitchen-fittings"
          >
            <img src="img/portfolio/kitchen-2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Kitchen Fittings</h4>
              <p>Kitchen Fittings</p>
              <a
                href="img/portfolio/kitchen-2.jpg"
                title="Kitchen Fittings"
                data-gallery="portfolio-gallery-branding"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item sliding-system"
          >
            <img src="img/portfolio/sliding-2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Sliding Systems</h4>
              <p>Sliding Systems</p>
              <a
                href="img/portfolio/sliding-2.jpg"
                title="Sliding Systems"
                data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item door-fittings"
          >
            <img src="img/portfolio/door-3.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Door Fittings</h4>
              <p>Door Fittings</p>
              <a
                href="img/portfolio/door-3.jpg"
                title="door 3"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item wardrobe-fittings"
          >
            <img src="img/portfolio/wardrob-3.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Wardrob Fittings</h4>
              <p>Wardrob Fittings</p>
              <a
                href="img/portfolio/wardrob-3.jpg"
                title="Wardrob Fittings"
                data-gallery="portfolio-gallery-product"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item furniture-fittings"
          >
            <img src="img/portfolio/furniture-3.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Branding 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a
                href="img/portfolio/furniture-3.jpg"
                title="Branding 2"
                data-gallery="portfolio-gallery-branding"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->

          <div
            class="col-lg-4 col-md-6 portfolio-item isotope-item sliding-system"
          >
            <img src="img/portfolio/sliding-3.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Sliding Systems</h4>
              <p>Sliding Systems</p>
              <a
                href="img/portfolio/sliding-3.jpg"
                title="Sliding Systems"
                data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
            </div>
          </div>
          <!-- End Portfolio Item -->
        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Testimonials</span>
      <h2>Testimonials</h2>
      <p>Quality That Exceeds Expectations, Elegance Meets Reliability</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <swiper-container loop="true">
        <swiper-slide
          ><div class="swiper-slide swiper-tab">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >We’ve been using their hinges, handles, and sliding solutions
                  in multiple projects, and the durability is unmatched. Every
                  piece feels solid, operates smoothly, and adds a premium touch
                  to our interiors. It’s rare to find products that are both
                  beautiful and built to last</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img
                src="img/testimonials/testimonials-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Arjun Mehta</h3>
              <h4>Interior Designer</h4>
            </div>
          </div>
          <!-- End testimonial item --></swiper-slide
        >
        <swiper-slide>
          <div class="swiper-slide swiper-tab">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >Our kitchen installation was transformed by their world-class
                  hardware and accessories. The designs are sleek, the fittings
                  are precise, and the functionality is flawless. Cooking and
                  storage have never been this effortless or stylish!</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img
                src="img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Priya Sharma</h3>
              <h4>Homeowner</h4>
            </div>
          </div>
          <!-- End testimonial item --></swiper-slide
        >
        <swiper-slide>
          <div class="swiper-slide swiper-tab">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >As an architect, I need solutions that combine aesthetics
                  with performance. Their fittings and sliding systems have been
                  a game-changer – easy to install, silent in operation, and
                  visually stunning. Clients love the results every single
                  time</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img
                src="img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Rahul Kapoor</h3>
              <h4>Architect</h4>
            </div>
          </div>
          <!-- End testimonial item --></swiper-slide
        >
        <swiper-slide
          ><div class="swiper-slide swiper-tab">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >From wardrobe sliding systems to premium locks and handles,
                  every product we’ve used has impressed both us and our
                  clients. The craftsmanship is exceptional, and the designs
                  perfectly complement modern spaces. Truly a trusted name in
                  the industry.</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img
                src="img/testimonials/testimonials-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Varun Verma</h3>
              <h4>Builder & Developer</h4>
            </div>
          </div>
          <!-- End testimonial item --></swiper-slide
        >
      </swiper-container>
    </div>
  </section>
  <!-- /Testimonials Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Contact Us</span>
      <h2>Contact</h2>
      <p>Still Confused for Better Solution? Reach Us</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-5">
          <div class="info-wrap">
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>
                  752, Vijayant Khand-4, Gomti Nagar, Lucknow, India, Uttar
                  Pradesh
                </p>
              </div>
            </div>
            <!-- End Info Item -->

            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 97923 77999 / 0522 423 2424</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>anandnco.lko&#64;gmail.com</p>
              </div>
            </div>
            <!-- End Info Item -->

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4379.460485598406!2d81.01417007609314!3d26.865999762095246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be2579f414e93%3A0x650fc2e18abfc1df!2sAnand%20%26%20Co.!5e1!3m2!1sen!2sin!4v1754815605353!5m2!1sen!2sin"
              frameborder="0"
              style="border: 0; width: 100%; height: 270px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <div class="col-lg-7">
          <form
            [formGroup]="contactForm"
            class="php-email-form"
            (ngSubmit)="onSubmit()"
            novalidate
          >
            <div class="row gy-4">
              <div class="col-md-6">
                <label for="name-field" class="pb-2">Your Name</label>
                <input
                  id="name-field"
                  formControlName="name"
                  class="form-control"
                />
              </div>

              <div class="col-md-6">
                <label for="email-field" class="pb-2">Your Email</label>
                <input
                  type="email"
                  id="email-field"
                  formControlName="email"
                  class="form-control"
                />
              </div>

              <div class="col-md-12">
                <label for="subject-field" class="pb-2">Subject</label>
                <input
                  id="subject-field"
                  formControlName="subject"
                  class="form-control"
                />
              </div>

              <div class="col-md-12">
                <label for="message-field" class="pb-2">Message</label>
                <textarea
                  id="message-field"
                  rows="10"
                  formControlName="message"
                  class="form-control"
                ></textarea>
              </div>

              <div class="col-md-12 text-center">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="contactForm.invalid || showLoader"
                >
                  Send Message
                </button>
                <div>
                  @if(showLoader){
                    <div class="loading">Sending</div>
                 }
                @if(successMessage){
                {{ successMessage }}
                } @if(errorMessage){
                {{ errorMessage }}
                }
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>

<footer id="footer" class="footer accent-background">
  <div class="container section-title" data-aos="fade-up">
    <span>Follow Us</span>
    <h2>Follow Us</h2>
    <p>Find and follow us on our social media channels</p>
  </div>

  <div class="container">
    <div class="row py-4">
      <div class="col-12">
        <div class="social-links d-flex justify-content-center">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll Top -->
<a
  href="#"
  id="scroll-top"
  class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Preloader -->
<div id="preloader"></div>
